
<section id="portfolio">
  <div class="gallery">
    <ul>
      <li class="col-md-3">
      <a routerLink="/church">
      <img src="assets/img/tromso.jpg" alt="">
      </a> 
      </li>
      <li class="col-md-3">
      <a routerLink="/church">
      <img src="assets/img/kinsarvik.jpg" alt="">
      </a>
      </li>
      <li class="col-md-3">
      <a routerLink="/church">
      <img src="http://unsplash.it/680/380?random=3" alt="">
      </a>
      </li>
      <li class="col-md-3">
      <a routerLink="/church">
      <img src="http://unsplash.it/680/380?random=4" alt="">
      </a>
      </li>
      <li class="col-md-3">
      <a routerLink="/church">
      <img src="http://unsplash.it/680/380?random=5" alt="">
      </a>
      </li>
      <li class="col-md-3">
      <a routerLink="/church">
      <img src="http://unsplash.it/680/380?random=6" alt="">
      </a>
      </li>
      <li class="col-md-3">
      <a routerLink="/church">
      <img src="http://unsplash.it/680/380?random=7" alt="">
      </a>
      </li>
      <li class="col-md-3">
      <a routerLink="/church">
      <img src="http://unsplash.it/680/380?random=8" alt="">
      </a>
      </li>
          <li class="col-md-3">
      <a routerLink="/church">
      <img src="http://unsplash.it/680/380?random=10" alt="">
      </a>
      </li>
      <li class="col-md-3">
      <a routerLink="/church">
      <img src="http://unsplash.it/680/380?random=11" alt="">
      </a>
      </li>
      <li class="col-md-3">
      <a routerLink="/church">
      <img src="http://unsplash.it/680/380?random=12" alt="">
      </a>
      </li>
      <li class="col-md-3">
      <a routerLink="/church">
      <img src="http://unsplash.it/680/380?random=13" alt="">
      </a>
      </li>
    </ul>
  </div>
</section>
